PORT=3001
SF_LOGIN_URL=https://login.salesforce.com
SF_API_VERSION=v62.0
SF_CLIENT_ID=your_connected_app_consumer_key
SF_CLIENT_SECRET=your_connected_app_consumer_secret
SF_USERNAME=integration.user@example.com
SF_PASSWORD=yourPassword
SF_SECURITY_TOKEN=yourSecurityToken
